form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  background-color: #EEE2D7;
  width: 50vw;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  form h2 {
    padding-bottom: 2rem; }
  form select {
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    border-radius: 30px;
    border-color: white; }
  form input {
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    border-style: none;
    width: 270px; }
  form button {
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #9BB97E;
    font-size: 20px;
    width: 25%;
    margin-top: 1rem;
    padding: 10px 20px 10px 20px; }
    form button button:hover {
      background-color: black; }
  form .clear {
    background-color: black; }

.container {
  height: 100vh;
  margin: 2rem;
  display: flex;
  flex-direction: column; }

.first_section {
  display: flex;
  flex-direction: row; }

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  background-color: #9BB97E;
  color: white;
  font-size: 2.5rem;
  width: 50vw; }

.wrapperList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem; }
  .wrapperList .incomeList_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #D5DADE;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1.5rem; }
    .wrapperList .incomeList_wrapper ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .wrapperList .incomeList_wrapper li {
      list-style-type: none;
      margin: 10;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: #9BB97E;
      color: white; }
  .wrapperList .expenseList_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #F2E085;
    justify-content: center;
    padding-top: 2rem;
    margin: 1.5rem;
    padding-bottom: 2rem; }
    .wrapperList .expenseList_wrapper ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .wrapperList .expenseList_wrapper li {
      list-style-type: none;
      margin: 10px;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: #D9AB82;
      color: white; }

* {
  margin: 0;
  box-sizing: 0;
  font-family: 'Lato', sans-serif; }

.header-budgetApp {
  height: 20vh;
  background-color: #E6EFDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 3rem; }
